.deck {
    padding: 1em;

    > div {
        padding: 1em 0;
        border-bottom: solid 1px $bGreyColor;
    }
}

.deck-head {
    > input[type="text"] {
        width: 80%;
        max-width: calc(100% - 5em);
        font-size: 2em;
    }

    > span {
        float: right;
        border: solid 1px $bGreyColor;
        border-radius: 0.3em;

        > button {
            border: none;
        }
    }
}

.config-bar {
    > * {
        padding: 0.2em 0.5em;
        border-right: solid 1px $bGreyColor;
        vertical-align: bottom;

        &:last-child {
            border: none;
        }

        > input[type="number"] {
            width: 3em;
        }

        > input[type="text"] {
            width: 16em;
        }
    }
}

.deck-content {}

.deck-slides {
    text-align: center;
    position: absolute;
    border-right: solid 1px $bGreyColor;
    width: 18.5em;
    top: 0;
    bottom: 0;
    padding: 1em;
    overflow-y: scroll;

    .button,
    > button {
        padding-left: 3em;
        padding-right: 3em;
    }

    > ul {
        padding: 0;
        margin: 0 0 1em;
        border-bottom: solid 1px $bGreyColor;
        list-style: none;

        > li {
            margin-bottom: 0.5em;
            cursor: pointer;

            &:hover {
                > button {
                    visibility: visible;
                }

                > .slide-view {
                    box-shadow: none;
                }
            }

            > button {
                visibility: hidden;
                border-radius: 0;
                z-index: 10;
                font-size: 0.7em;
                position: absolute;
                padding: 0.3em 0.5em;

                &.slide-remove {
                    top: -0.2em;
                    right: -0.2em;
                    color: red;
                }

                &.slide-mvup {
                    top: -0.2em;
                    left: -0.2em;
                }

                &.slide-mvdown {
                    bottom: -0.2em;
                    left: -0.2em;
                }

                &.slide-number {
                    bottom: -0.2em;
                    right: -0.2em;
                    visibility: visible;
                }
            }
        }
    }
}

.spacer {
    visibility: hidden;
    height: 1px;
    position: relative;
    float: left;
}

.min {
    font-size: 0.22em;
}

.slide {
    overflow-x: hidden;

    > .config-bar {
        padding-left: 1em;
        padding-bottom: 1em;
        border-bottom: solid 1px $bGreyColor;

        > span {
            font-weight: bold;
        }
    }
}

.slide-frame {
    padding: 1em 0;

    > .slide-view {
        margin: 1em auto;
    }
}

.slide-view {
    border: solid 1px $bGreyColor;
    box-shadow: 0 0 1.5em 0.01em $bGreyColor;
    height: 50em;
    width: 70em;
}

.slide-header {
    > span {
        > input {
            text-align: center;
            font-size: inherit;
            font-weight: inherit;
            color: inherit;
            width: 66%;
        }

        &:last-child > input {
            width: 100%;
            text-align: right;
        }
    }
}

.fragment-overlay {
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: transparent;
    -js-display: flex;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: transparentize($bgGreyColor, 0.5);
        cursor: pointer;

        > i {
            visibility: visible;
        }
    }

    > i {
        visibility: hidden;
        font-size: 5em;
        color: $bGreyColor;
    }
}

#fragment-config .popup-content {
    > label {
        display: block;
        padding: 0.5em 0;

        > input {
            text-align: left;
            width: 100%;
        }

        > textarea {
            width: 100%;
            resize: vertical;
        }
    }
}
